.legend-box {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, .7);
  padding: 1rem 1.5rem;
  color: #333;

  /* ---- TEMP ---- */
  left: 30%;
  bottom: 7%;
}

.legend-content {
  display: flex;
}

.legend-content ul {
  list-style: none;
  font-size: .75rem;
  -webkit-padding-start: 0;
  margin-bottom: 0;
}

.legend-content ul:nth-child(2) {
  margin: 0 2rem;
}

.legend-content ul li {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
